
h1 {padding: 0px;
    font-size: 70pt;
    font-style: normal;
    font-family: sans-serif;
    font: Helvetica;
    vertical-align: middle}

img {vertical-align: middle}

.main-nav {
color: white;
}

a {font-size: 20pt;
    margin-left: 20px;
    padding: 10px;}



.center {text-align: center;
        }

center {
    
}

body {color: red; border-left-style: double; border-width: 20px; background-color: black
}

video {margin: 15px;
        

}

p { margin: 12px;
    color: white;
    font-size: 15pt;
}

ul {
    margin: 12px;

}

li {
    color: white
}

p2 {
}

p3 {
    color: white; margin-left: 12px;
}

img2 {
}

p1 {
    color: white; margin-left: 12px
        
}

h2 {
    color: white; align-content: center; margin: 12px;
        
}

h3 {
    color: white
}

h6 {
    display: inline
}

h5 {margin-left: 5px;
    display: inline;
    color: aliceblue
}
